################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Params/.vs/Params/DesignTimeBuild
/Params/.vs/Params
/Params/Params/bin/Debug/net7.0
/Params/Params/obj
/Params/.vs
/Params/Return_Objects/bin/Debug/net7.0
/Params/Return_Objects/obj
/Params/Return_Array/bin/Debug/net7.0
/Params/Return_Array/obj
/Params/Method_Overloading/bin/Debug/net7.0
/Params/Method_Overloading/obj
/Params/Overloading_Constuctors/bin/Debug/net7.0
/Params/Overloading_Constuctors/obj
/Params/Invoke_Cons_Through_This/bin/Debug/net7.0
/Params/Invoke_Cons_Through_This/obj
/Params/Optional_Arguments/bin/Debug/net7.0
/Params/Optional_Arguments/obj
/Params/Arguments_In_Main/bin/Debug/net7.0
/Params/Arguments_In_Main/obj
/Params/Recursion/bin/Debug/net7.0
/Params/Recursion/obj
/Params/Operator_Overloading/bin/Debug/net7.0
/Params/Operator_Overloading/obj
/Params/Indexer/bin/Debug/net7.0
/Params/Indexer/obj
/Params/Indexer Overloading/bin/Debug/net7.0
/Params/Indexer Overloading/obj
/Params/Read-only_Indexer/bin/Debug/net7.0
/Params/Read-only_Indexer/obj
/Params/Multidimensional_Indexer/bin/Debug/net7.0
/Params/Multidimensional_Indexer/obj
/Params/Properties/bin/Debug/net7.0
/Params/Properties/obj
/Params/ConstructorAndInheritance/bin/Debug/net7.0
/Params/ConstructorAndInheritance/obj
/Params/ConstructorAndInheritance_Base_Keyword/bin/Debug/net7.0
/Params/ConstructorAndInheritance_Base_Keyword/obj
/Params/Interface/bin/Debug/net7.0
/Params/Interface/obj
/Params/Interface_Properties/bin/Debug/net7.0
/Params/Interface_Properties/obj
/Params/Interface_Indexer/bin/Debug/net7.0
/Params/Interface_Indexer/obj
/Params/Structure/bin/Debug/net7.0
/Params/Structure/obj
/Params/Enumeration/bin/Debug/net7.0
/Params/Enumeration/obj
/Params/Exception_Handling/bin/Debug/net7.0
/Params/Exception_Handling/obj
/Params/Exception_Handling_Multiple_Catch/bin/Debug/net7.0
/Params/Exception_Handling_Multiple_Catch/obj
/Params/Nested_Try/bin/Debug/net7.0
/Params/Nested_Try/obj
/Params/Rethrow_Exception/bin/Debug/net7.0
/Params/Rethrow_Exception/obj
/Params/Try_Catch_Finally/bin/Debug/net7.0
/Params/Try_Catch_Finally/obj
/Params/Exception_Class_Members/bin/Debug/net7.0
/Params/Exception_Class_Members/obj
/Params/Custom_Exception/bin/Debug/net7.0
/Params/Custom_Exception/obj
/Params/Checked_Unchecked/bin/Debug/net7.0
/Params/Checked_Unchecked/obj
/Params/Console_ReadKeys/bin/Debug/net7.0
/Params/Console_ReadKeys/obj
/Params/Read_From_File/bin/Debug/net7.0
/Params/Read_From_File/obj
/Params/Write_To_File/bin/Debug/net7.0
/Params/Write_To_File/obj
/Params/StreamWriter/bin/Debug/net7.0
/Params/StreamWriter/obj
/Params/StreamReader/bin/Debug/net7.0
/Params/StreamReader/obj
/Params/Redirect_Streams/bin/Debug/net7.0
/Params/Redirect_Streams/obj
/Params/BinaryReader_BinaryWriter/bin/Debug/net7.0
/Params/BinaryReader_BinaryWriter/obj
/Params/Random_Access_Files_With_Seek/bin/Debug/net7.0
/Params/Random_Access_Files_With_Seek/obj
/Params/MemoryStream/bin/Debug/net7.0
/Params/MemoryStream/obj
/Params/StringReader_StringWriter/bin/Debug/net7.0
/Params/StringReader_StringWriter/obj
/Params/Parse_Method/bin/Debug/net7.0
/Params/Parse_Method/obj
/Params/Simple_Delegate_Program/bin/Debug/net7.0
/Params/Simple_Delegate_Program/obj
/Params/Delegate_Multicasting/bin/Debug/net7.0
/Params/Delegate_Multicasting/obj
/Params/Covariance_Contravariance/bin/Debug/net7.0
/Params/Covariance_Contravariance/obj
/Params/Anonymous_Methods/bin/Debug/net7.0
/Params/Anonymous_Methods/obj
/Params/Expression_Lambdas/bin/Debug/net7.0
/Params/Expression_Lambdas/obj
/Params/Statement_Lambdas/bin/Debug/net7.0
/Params/Statement_Lambdas/obj
/Params/Event/bin/Debug/net7.0
/Params/Event/obj
/Params/Multicast_Event/bin/Debug/net7.0
/Params/Multicast_Event/obj
/Params/Event_Accessors/bin/Debug/net7.0
/Params/Event_Accessors/obj
/Params/DotNet-Compatible_Event/bin/Debug/net7.0
/Params/DotNet-Compatible_Event/obj
/Params/EventHandler/bin/Debug/net7.0
/Params/EventHandler/obj
/Params/Keypress_Event/bin/Debug/net7.0
/Params/Keypress_Event/obj
/Params/Preprocessor/bin/Debug/net7.0
/Params/Preprocessor/obj
/Params/RTTI/bin/Debug/net7.0
/Params/RTTI/obj
/Params/Reflection/bin/Debug/net7.0
/Params/Reflection/obj
/Params/Attribute/bin/Debug/net7.0
/Params/Attribute/obj
/Params/Generics/bin/Debug/net7.0
/Params/Generics/obj
/Params/Generics_Constraint/obj
/Params/Generics_Constraint/bin/Debug/net7.0
/Params/Linq/bin/Debug/net7.0
/Params/Linq/obj
/Params/UnsafeCode/bin/Debug/net7.0
/Params/UnsafeCode/obj
/Params/NullableTypes/bin/Debug/net7.0
/Params/NullableTypes/obj
/Params/PartialTypes/bin/Debug/net7.0
/Params/PartialTypes/obj
/Params/DynamicType/bin/Debug/net7.0
/Params/DynamicType/obj
/Params/System_Namespace/bin/Debug/net7.0
/Params/System_Namespace/obj/Debug/net7.0
/Params/System_Namespace/obj
/Params/Strings_And_Formatting/bin/Debug/net7.0
/Params/Strings_And_Formatting/obj
/Params/Multithreading/bin/Debug/net7.0
/Params/Multithreading/obj
