################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Params/.vs/Params/DesignTimeBuild
/Params/.vs/Params
/Params/Params/bin/Debug/net7.0
/Params/Params/obj
