################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Params/.vs/Params/DesignTimeBuild
/Params/.vs/Params
/Params/Params/bin/Debug/net7.0
/Params/Params/obj
/Params/.vs
/Params/Return_Objects/bin/Debug/net7.0
/Params/Return_Objects/obj
/Params/Return_Array/bin/Debug/net7.0
/Params/Return_Array/obj
/Params/Method_Overloading/bin/Debug/net7.0
/Params/Method_Overloading/obj
/Params/Overloading_Constuctors/bin/Debug/net7.0
/Params/Overloading_Constuctors/obj
/Params/Invoke_Cons_Through_This/bin/Debug/net7.0
/Params/Invoke_Cons_Through_This/obj
/Params/Optional_Arguments/bin/Debug/net7.0
/Params/Optional_Arguments/obj
/Params/Arguments_In_Main/bin/Debug/net7.0
/Params/Arguments_In_Main/obj
/Params/Recursion/bin/Debug/net7.0
/Params/Recursion/obj
/Params/Operator_Overloading/bin/Debug/net7.0
/Params/Operator_Overloading/obj
/Params/Indexer/bin/Debug/net7.0
/Params/Indexer/obj
/Params/Indexer Overloading/bin/Debug/net7.0
/Params/Indexer Overloading/obj
/Params/Read-only_Indexer/bin/Debug/net7.0
/Params/Read-only_Indexer/obj
/Params/Multidimensional_Indexer/bin/Debug/net7.0
/Params/Multidimensional_Indexer/obj
/Params/Properties/bin/Debug/net7.0
/Params/Properties/obj
/Params/ConstructorAndInheritance/bin/Debug/net7.0
/Params/ConstructorAndInheritance/obj
/Params/ConstructorAndInheritance_Base_Keyword/bin/Debug/net7.0
/Params/ConstructorAndInheritance_Base_Keyword/obj
/Params/Interface/bin/Debug/net7.0
/Params/Interface/obj
/Params/Interface_Properties/bin/Debug/net7.0
/Params/Interface_Properties/obj
/Params/Interface_Indexer/bin/Debug/net7.0
/Params/Interface_Indexer/obj
/Params/Structure/bin/Debug/net7.0
/Params/Structure/obj
/Params/Enumeration/bin/Debug/net7.0
/Params/Enumeration/obj
/Params/Exception_Handling/bin/Debug/net7.0
/Params/Exception_Handling/obj
/Params/Exception_Handling_Multiple_Catch/bin/Debug/net7.0
/Params/Exception_Handling_Multiple_Catch/obj
/Params/Nested_Try/bin/Debug/net7.0
/Params/Nested_Try/obj
